<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O'Coffee</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/style.css">
    <!-- pour leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/> 
    <!-- JS de leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    
</head>

<body>
        <header class="header">
            <div class="container_header">
                <img src="/images/logo.svg" alt="o'coffee logo" class="header_logo">
                <h1>oCoffee</h1>
            </div>
            <div class="container_nav">
                <nav>
                    <ul class="listnav">
                        <li><a class="item_nav" href="../">Accueil</a></li>
                        <li><a class="item_nav" href="../catalogue">Catalogue</a></li>
                        <li><a class="item_nav" href="../qui_sommes_nous">Notre boutique</a></li>
                    </ul>
                    <img class="burger_nav" src="/images/coffees/icone-nav.svg" alt="burger-menu">
                </nav>
            </div>
        </header>