<%- include('./partials/header') %>


<main class="container_main">
    <section  class="content_us content_us_nous">
       <h2> Notre boutique ! </h2>
       <div>
           <p> Bienvenue dans notre boutique, où règne une ambiance chaleureuse et accueillante qui éveille tous vos sens. Dès que vous franchissez la porte, vous êtes enveloppé d'une douce symphonie d'arômes envoûtants de café fraîchement moulu.
           </p>
      </div>
      <img class="img_boutique" src="./images/coffees/boutique.2.jpg" alt="">   
    </section>

    <section class="content_us">
        <h2>Qui sommes nous</h2>
        <p>Jean et Jacques Pepper, deux frères passionnés par l'univers du café, ont toujours rêvé de créer leur propre boutique de café haut de gamme. L'occasion de concrétiser ce rêve est arrivée lors d'un voyage inoubliable en Colombie, un pays célèbre pour ses plantations de café renommées dans le monde entier.</p>
        <p>Aujourd'hui, la boutique de café des frères Pepper est devenue une référence pour les amateurs de café de la région. Leur passion, leur connaissance approfondie et leur engagement envers la qualité se reflètent dans chaque tasse servie. Jean et Jacques sont fiers d'avoir transformé leur voyage en Colombie en une aventure entrepreneuriale qui a permis à tant de personnes de découvrir et d'apprécier le véritable plaisir du café.</p>

    </section>



    <section class="container_map">
        <h2>Ou sommes-nous</h2>
        <div id="map" class="map_container">
        </div>
    </section>



</main>

<%- include('./partials/footer') %>
